#main {
    padding: 40px 0;
}
table {
    text-align: center;
    font-size: 36px;
    width: 500px;
    margin: 0 auto;
}
#view-options {
    margin-top: 20px;
}
#kanji-table {
    margin-top: 20px;
}